

body{
    background-color: white;
    height: 1200px;
    width: 900px;
}
#encabezado{
    height: 40px;
    background-color: #B58a69;
    color: #BADA55;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Avelar ligth ;
}
ul{
    text-decoration: none;
    display: flex;
   
    height: 5%;
    gap: 60px;
 
}
ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
article section {
    display: flex;
    text-align: justify;
    font-family: Avelar ligth 32px;
    background-color: #0000;
}
picture img{
        width: 340px;
        height: 190px;
        margin-left: 50px;
        margin-top: 30px;
}

#acomodar{
    display: flex;
    background-color: #DEE5DE;
    margin: 1px;
    margin-bottom: -30px;
}
ARTICLE header{
    margin-left: 30PX;
    text-align: left;
}

#acomodar2{
    display: flex;
    margin: 10px;
    flex-direction: column;
    width: 70%;
}

#acomodar SECTION{
 
 font-size: 15px;
 margin: 30px;
 margin-top: 5px;

}
aside{
    margin-top: -30px;
    background-color: #D7D7CB;
    color: #000;
    text-align: center;
}
aside img{
    width: 200px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 50px;
}
aside header{
    font-size: 30px;
    margin-top: 10px;
}
footer{
    display: flex;
    font-size: 14px;
    color: #E8E6E6;
    background-color: #5E5E4A;
    height: 15%;
    justify-content: center;
}
@media screen and (max-width: 650px) {
    ul {
        flex-direction: column;
        text-align: center;
    }
    
    ul li {
        width: auto; 
        text-align: center;
    }
}
ul li:hover {
    color: red; 
}
.holi{
    margin: 0;
    padding: 10px;
    background-color: #DEE5DE;
    text-align: left;
    padding-left: 180px;
    & button{
        margin: 0;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        background-color:#5E5E4A ;
    }
}


#conteiner{
    margin-right:  50px;
    margin-left: 50px;
}